form{
    float:left ;
    width:100px;
    text-align: right;
    margin:15px;
}

label{
    float: left;
    width:100px;
    text-align: right;
    margin-right:15px;
}
#content form fieldset{
    height:auto;
    width:350;
    border:4px solid #4D365B;
    padding:10px 10px 10px 10px;
    margin-left:200px;
}

