table{
    width:50%;
    font-family: arial;
}
#top{
    padding:5px;
    border:1px solid black;
    background-color:#c9c9c9;
    font-weight:bold;
}
#row1{
    background-color:lightgrey;
}
#row2{
    background-color:lightblue;
}
#row3{
    background-color:lightgrey;
}
#row4{
    background-color:lightblue;
}
#bottom{
    text-align: center;
}
td{
    border:1px solid black;
}
th{
    border:1px solid black;
}